<h2> <%= @restaurant.name %> <h2>
<h3><%= @restaurant.category %></h3>


<h3>Review:</h3>
<ul>
<% @restaurant.reviews.each do |review| %>
  <li>rating:<%= review.rating %></li>
  <li>comment:<%= review.content %></li>
<% end %>
</ul>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
